:root {
    --cor-fundo:#404040;
    --cor-fundo-header:#080808;
    --cor-texto:#fff;
    --cor-botoes:#310000;

}

header{
    background-color: var(--cor-fundo-header);
    padding: 25px;
    border: solid grey 3px;
    border-radius: 10px;
    text-align: center;
    color: var(--cor-texto);

}

body{
    background-color: var(--cor-fundo);
    color: var(--cor-texto);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.decalius{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-size: 15px;

}

.esquerda__principal{
    display: flex;
    flex-direction: column;

}

.links{
    font-size: 20px;
    padding: 15px;
    background-color: var(--cor-botoes);
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    color: var(--cor-texto);
}

.imagem1{
    width: 340px;

}

.bladeandbath{
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.esquerda__bab{
    text-align: center;
    display: flex;
    flex-direction: column;

}

.direita__bab{
    text-align: center;

}

.links2{
    padding: 15px;
    background-color: var(--cor-botoes);
    border: black solid 1px;
    border-radius: 5px;
    color: var(--cor-texto);
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
}

.imagem2{
    width: 350px;

}