:root {
    --cor-primaria:#181C14;
    --cor-primaria-header:#3C3D37;
    --cor-secundaria:#ECDFCC;
    --cor-terciaria:#697565;

}

header{
    background-color: var(--cor-primaria-header);
    padding: 25px;
    border: solid grey 3px;
    border-radius: 10px;
    text-align: center;
    color: var(--cor-secundaria);

}

.cabecalhoBM{
    font-size: 25px;
    text-decoration: none;
    color: white;

}

body{
    background-color: var(--cor-primaria);
    color: var(--cor-secundaria);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.decalius{
    display: grid;
    grid-template-columns: 50% 50%;
    text-align: center;
    font-size: 15px;

}

.esquerda__principal{
    display: flex;
    flex-direction: column;

}

.links{
    font-size: 20px;
    padding: 15px;
    background-color: var(--cor-terciaria);
    border: black solid 1px;
    border-radius: 5px;
    text-align: center;
    margin: 5px;
    text-decoration: none;
    color: var(--cor-secundaria);
}

.imagem1{
    width: 340px;

}

.bladeandbath{
    text-align: center;
    font-size: 15px;
    display: grid;
    grid-template-columns: 50% 50%;

}

.esquerda__bab{
    text-align: center;
    display: flex;
    flex-direction: column;

}

.direita__bab{
    text-align: center;

}

.links2{
    padding: 15px;
    background-color: var(--cor-terciaria);
    border: black solid 1px;
    border-radius: 5px;
    color: var(--cor-secundaria);
    font-size: 20px;
    margin: 5px;
    text-decoration: none;
    text-shadow: #ffffff solid 0.01em;
}

.imagem2{
    width: 340px;

}